body {
    background-color:#ffffff;
    font-family: Georgia, serif;
    color: #1A1A1A;
}
h1 {
    color: #547AA5;
    font-size: 2.5rem;
}
header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #1A1A1A;
}
nav a {
    color: #547AA5;
}
main {
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}
.metodo-titulo {
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #547AA5;
}
.precio {
    font-weight: bold;
    color: #547AA5;
}
footer {
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;  
}
.horario {
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #547AA5;   
}
#boton-reservar {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #547AA5;
    color: #f2f0ea;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
}